.subject-viewer
  min-width: 0
  max-width: 100%

  .subject-frame-pips
    .subject-frame-pip
      &.active
        font-weight: 700

  // Multi-image layouts
  &:not(.subject-viewer--flipbook)
    .subject-container
      justify-content: space-between
    &.subject-viewer--layout-grid2
      .subject-container > *
        width: 49%
    &.subject-viewer--layout-grid3
      .subject-container > *
        width: 33%

.subject
  .subject-tools
    button:not(:last-child)
      margin-right: 0.5em
